@use "../../css/style_settings.scss" as *;

.Skills_wrapper {
    grid-column: 2/3;
    grid-row: 3/4;
}

#header_container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;

    margin-bottom: 30px;
    padding: 10px 0 20px 0;

    background-color: $object_color;
    border-left: 2px solid $header_color;
    border-right: 2px solid $header_color;
}

#header_container>h1 {
    font-size: 40px;
    font-family: $header_font;
    color: $header_color;
}

#header_container>p {
    font-family: $text_font;
}

#skills_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    padding-bottom: 80px;
}

#skills_container>article {
    margin: 20px 10px;
    width: 100px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

#skills_container>article>img {
    width: 100px;
    height: 100px;
}

#skills_container>article>p {
    font-family: $header_font;
    font-size: 18px;
    flex-flow: wrap;
    flex-grow: 1; 
    align-self: center; 
    margin: 0;
    padding-top: 10px;
}

// Tablet breakpoint
@media (max-width: 1050px) {

    #skills_container {
        padding-bottom: 40px;
    }

    #skills_container>article>img {
        width: 75px;
        height: 75px;
    }
}

// Phone breakpoint
@media (max-width: 550px) {

    #header_container>h1 {
        font-size: 32px;
    }

    #header_container>p {
        font-size: 14px;
    }

    #skills_container>article {
        margin: 20px 12px;
        width: 55px;
    }

    #skills_container>article>img {
        width: 55px;
        height: 55px;
    }

    #skills_container>article>p {
        font-size: 15px;
    }
}